<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuanLySinhVienEntities" connectionString="metadata=res://*/QLSV.csdl|res://*/QLSV.ssdl|res://*/QLSV.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SIUNHANSSS;initial catalog=QuanLySinhVien;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>